[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
flask = "*"
flask-admin = "*"
flask-sqlalchemy = "*"
flask-security = "*"
enum34 = "*"
email-validator = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
